.complete_order_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.order_detail_box_1 {
  /* display: inline; */
  width: 530px;
  /* border: 5px solid greenyellow; */
  /* border-radius: 10px; */
  padding: 30px;
  margin: 10px;
  /* background-color: rgb(177, 220, 177); */
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}
.order_detail_box_2 {
  display: inline;
  width: 430px;
  background-color: rgb(233, 233, 233);

  /* border: 5px solid greenyellow; */
  /* border-radius: 10px; */
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
}

.order_complete_delivery_destination {
  width: 120px;
}

.order_complete_itemBox {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  margin-bottom: 10px;
}

.order_complete_item {
  display: inline-block;
  margin-right: 15px;
}

.complete_order_btnOrder {
  width: 180px;
  height: 50px;
  margin-left: 20px;
  /* font-weight: bold; */
  font-size: larger;
  background-color: rgb(177, 220, 177);
  border: 1px solid rgb(156, 156, 156);
  cursor: pointer;
  border-radius: 10px;
}

.complete_order_chart_component {
  background-color: rgb(233, 233, 233);
  margin-top: 20px;
  padding: 15px;
  width: 950px;
  /* display: flex; */
  justify-content: center;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

.buyer_chart_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image_download_btn {
  margin-left: 10px;
}
